{% extends "header.html" %}
{% load static %}
{% block page_content %}
      <!-- Start Content -->
      <div class="container-fluid">
          <div class="row justify-content-md-center">
            <div class="col-lg-10">


      <div class="container-fluid top">

          <div class="row">

              <div class="col-lg-10">
                  <h1 class="display-5">Inteligencia artificial para inversiones.</h1>
              </div>
          </div>
          <div class="row">

              <div class="col-lg-10">
                  <p>Hacemos sencillo lo complejo y ponemos al alcance de todos la oportunidad de invertir en la bolsa de valores de manera informada y con total control sobre su capital.
</p>
              </div>

          </div>
      </div>

      <div class="container-fluid">
          <div class="row">

              <div class="col-lg-10">
                  <h4 class="">Origen</h4>
              </div>
          </div>
          <div class="row">

              <div class="col-lg-5">
                  <p>ALTEC.dev surgió como un proyecto de investigación en la Universidad de Nova de Lisboa en Portugal. La idea era demostrar la utilidad de los algoritmos para predecir resultados en la bolsa de valores. Al darnos cuenta del potencial de nuestros resultados, creamos un producto que pudiera ser utilizado por cualquiera.</p>
              </div>
              <div class="col-lg-4 text-center">
                  <img src="/static/celdas.png" style="height:300px;">
              </div>

          </div>
      </div>
<br>
<br>
<br>
      <div class="container-fluid">
          <div class="row">
              <div class="col-6">
              </div>
              <div class="col-lg-5">
                  <h4 class="">Inteligencia Artificial</h4>
              </div>
          </div>
          <div class="row">

              <div class="col-lg-5 text-center">
                  <img src="/static/circuito.png" style="height:200px;">
              </div>
              <div class="col-lg-5">
                  <p>La inteligencia artificial es simplemente la habilidad de una computadora para aprender algo a partir de datos o experiencias. Con una inteligencia artificial diseñada para la bolsa, podemos tomar decisiones basadas en toda la información disponible, con mucho más posibilidad de acierto.</p>
              </div>


          </div>
      </div>
      <br>
      <div class="container-fluid ">
          <div class="row">

              <div class="col-lg-8">
                  <p>En las finanzas la teoria es simple: queremos encontrar el mejor balance entre el riesgo y el retorno de inversión. Para encontrarlo,</p>
                  <p class="lead">ALTEC.dev utiliza algoritmos de última generación.</p>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
      <br>
      <br>
      <br>
{% endblock %}
