{% extends "header.html" %}
{% load static %}
{% block page_content %}
      <!-- Start Content -->
      <div class="container-fluid top">
          {% if success %}
          <div class="alert alert-success">
              {{ success }}
          </div>
          {% endif %}
          {% if error %}
          <div class="alert alert-danger">
              {{ error }}
          </div>
          {% endif %}
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-10">
                  <h1 class="display-5">Preguntas Frecuentes</h1>
              </div>
          </div>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-10">
                  <p class="lead">¿Por que elegir ALTEC.dev?</p>
                  <p>Respuesta</p>
              </div>
          </div>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-10">
                  <p class="lead">¿Qué servicios me ofrece ALTEC.dev?</p>
                  <p>Respuesta</p>
              </div>
          </div>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-10">
                  <p class="lead">¿ALTEC.dev puede colocar y manejar mis inversiones?</p>
                  <p>Respuesta</p>
              </div>
          </div>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-10">
                  <p class="lead">¿En cuánto tiempo puedo esperar ver resultados?</p>
                  <p>Respuesta</p>
              </div>
          </div>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-10">
                  <p class="lead">¿Dónde puedo invertir mi dinero?</p>
                  <p>Respuesta</p>
              </div>
          </div>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-10">
                  <p class="lead">¿Cuánto dinero necesito invertir?</p>
                  <p>Respuesta</p>
              </div>
          </div>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-10">
                  <p class="lead">¿Existe algún riesgo?</p>
                  <p>Respuesta</p>
              </div>
          </div>
      </div>
<br>
<br>
<br>
      <div class="container-fluid">
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-10">
                  <h1 class="display-6">¿No encontraste lo que buscabas?</h1>
                  Ponte en contacto con nosotros y trataremos de resolver todas tus dudas.
              </div>
          </div>
      </div>
      <div class="container-fluid">
          <form action="/ayuda" method="post">
              {% csrf_token %}
              <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-6">
                      <div class="form-group">
                          <label for="nombre">Nombre</label>
                          <input type="name" class="form-control" name="nombre" aria-describedby="emailHelp" placeholder="tu nombre completo" required>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="form-group">
                          <label for="email">Correo electronico</label>
                          <input type="email" class="form-control" name="correo" placeholder="ejemplo@mail.com" required>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-6">
                      <div class="form-group">
                          <label for="exampleFormControlSelect1">Tema</label>
                          <select class="form-control" name="asunto">
                              <option>Soporte técnico</option>
                              <option>Información general</option>
                              <option>Dudas de finanzas</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-10">
                      <div class="form-group">
                          <label for="exampleFormControlTextarea1">Escriba su pregunta o duda:</label>
                          <textarea class="form-control" name="mensaje" rows="4" required></textarea>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-10">
                  </div>
                  <div class="col-2">
                      <button type="submit" class="btn btn-primary">Enviar</button>
                  </div>
              </div>
          </form>
      </div>
      <br>
      <br>
      <br>

      <!-- End Content -->
{% endblock %}
