{% extends "header.html" %}
{% load static %}
{% block page_content %}
      <!-- Start Content -->
      <div class="container-fluid top">
          {% if success %}
          <div class="alert alert-success">
              {{ success }}
          </div>
          {% endif %}
          {% if error %}
          <div class="alert alert-danger">
              {% for err in error %}
                  <li>{{ err }}</li>
              {% endfor %}
          </div>
          {% endif %}
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-8">
                  <h1 class="display-4">Preguntas Frecuentes</h1>
              </div>
          </div>
      </div>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-8">
                  <h4 class="display-5">¿Por que elegir ALTEC.dev?</h4>
                  <p>
                      ALTEC.dev es el primer servicio en México de recomendaciones financieras basado 100% en inteligencia artificial.

                  </p>
              </div>
          </div>
      </div>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-8">
                  <h4 class="display-5">¿Qué servicios me ofrece ALTEC.dev?</h4>
                  <p>Por el momento lo único que ofrecemos es diversificación de activos en la Bolsa Mexicana de Valores.
                     ALTEC.dev no es capaz de colocar inversiones ni tampoco de gestionar carteras de inversion.
                     Estamos trabajando para crecer nuestra oferta de servicios.
                  </p>
              </div>
          </div>
      </div>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-8">
                  <h4 class="display-5">¿ALTEC.dev puede colocar y manejar mis inversiones?</h4>
                  <p>No. ALTEC.dev solamente recomienda que acciones comprar.</p>
              </div>
          </div>
      </div>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-8">
                  <h4 class="display-5">¿En cuánto tiempo puedo esperar ver resultados?</h4>
                  <p>
                      Todos nuestros portafolios de inversión son creados para inversiones a mediano plazo.
                      Sin embargo, nosotros recomendamos revisar su inversión cada cierto tiempo, para rebalancear sus inversiones o mitigar riesgos.
                  </p>
              </div>
          </div>
      </div>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-8">
                  <h4 class="display-5">¿Dónde puedo invertir mi dinero?</h4>
                  <p>En México existen dos intercambios de acciones:</p>
                  <p>- La Bolsa Mexicana de Valores (BMV)</p>
                  <p>- La Bolsa Institucional de Valores (BIVA)</p>

                  <p>En ambas bolsas se intercambian las mismas acciones al mismo precio, pero para poder comprar acciones de cualquiera de las dos,
                     se debe de hacer a través de alguna casa de bolsa.
                     Las casas de bolsa son empresas autorizadas por la CNBV dedicadas a la intermediación con valores, lo que significa poner en contacto a compradores y vendedores mediante las bolsas de valores.
                    </p><p>
                     Para casas de bolsa de BIVA haz click <a href="https://biva.mx/operaciones/casas_de_bolsa" target="_blank">aqui</a>.
                     <br>
                     Para ver casas de bolsa de la BMV haz click <a href="https://www.bmv.com.mx/es/mercados/intermediarios" target="_blank">aqui</a>.
                     </p>

              </div>
          </div>
      </div>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-8">
                  <h4 class="display-5">¿Cuánto dinero necesito invertir?</h4>
                  <p>Esto depende totalmente de las casas de bolsa. Cada una de ellas decide cuanto es el monto mínimo que se puede invertir en acciones.
                     <br>
                     Independientemente de eso, hay que tener en cuenta el precio de las acciones, este precio depende de cuantas acciones haya en circulación y de cuanto vale la empresa en total.
                  </p>
              </div>
          </div>
      </div>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-8">
                  <h4 class="display-5">¿Es seguro invertir en la bolsa?</h4>
                  <p>Tanto las bolsas de valores como las casa de bolsa son instituciones financieras registradas ante la CNBV por lo tanto tu dinero esta seguro y las transacciones para comprar y vender son seguras.
                    </p>
                    <p>
                    En cuanto al riesgo financiero, es igual que otras inversiones, se requiere investigar y planear de acuerdo a los objetivos. La bolsa de valores es un medio riesgoso, lo que quiere decir que hay volatilidad en los precios de las acciones.
                    Las ganacias en la bolsa se generan al gestionar ese riesgo o esa volatilidad.
                  </p>
                  <p>
                      Para saber más acerca de las inversiones en la bolsa:
                  </p>
                  <p><a href="https://blog.gbm.com/inversion/beneficios-de-invertir-a-largo-plazo" target="_blank">Beneficios de invertir a largo plazo - GBM Blog</a></p>
                      <p><a href="https://blog.gbm.com/mercados/trading-que-es-y-como-funciona/" target="_blank">Trading - GBM Blog</a></p>

                      <p><a href="https://am.jpmorgan.com/us/en/asset-management/adv/insights/market-insights/principles-for-investing/" target="_blank">Principles for Investing - JP Morgan</a></p>

              </div>
          </div>
      </div>
<br>
<br>
<br>
      <div class="container-fluid">
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-10">
                  <h1 class="display-6">¿No encontraste lo que buscabas?</h1>
                  Ponte en contacto con nosotros y trataremos de resolver todas tus dudas.
              </div>
          </div>
      </div>
      <div class="container-fluid">
          <form action="/ayuda" method="post">
              {% csrf_token %}
              <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-6">
                      <div class="form-group">
                          <label for="nombre">Nombre</label>
                          <input type="name" class="form-control" name="nombre" aria-describedby="emailHelp" placeholder="tu nombre completo" required>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="form-group">
                          <label for="email">Correo electronico</label>
                          <input type="email" class="form-control" name="correo" placeholder="ejemplo@mail.com" required>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-6">
                      <div class="form-group">
                          <label for="exampleFormControlSelect1">Tema</label>
                          <select class="form-control" name="asunto">
                              <option>Soporte técnico</option>
                              <option>Información general</option>
                              <option>Dudas de finanzas</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-10">
                      <div class="form-group">
                          <label for="exampleFormControlTextarea1">Escriba su pregunta o duda:</label>
                          <textarea class="form-control" name="mensaje" rows="4" required></textarea>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-10">
                  </div>
                  <div class="col-2">
                      <button type="submit" class="btn btn-primary">Enviar</button>
                  </div>
              </div>
          </form>
      </div>
      <br>
      <br>
      <br>

      <!-- End Content -->
{% endblock %}
