{% extends "header.html" %}
{% load static %}
{% block page_content %}
    <!-- Start Content -->
    <div class="container-fluid top">
        <div class="row">
            <div class="col-12">
                {% if success %}
                <div class="alert alert-success">
                    {{ success }}
                </div>
                {% endif %}
                {% if error %}
                <div class="alert alert-danger">
                    {% for err in error %}
                        <li>{{ err }}</li>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="col-1">
            </div>
            <div class="col-lg-10">
                <h1 class="display-5">Busca tu portafolio</h1>
                <p>Primero que nada, necesitamos saber un poco de tí...</p>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <form action="/buscar" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-12">
                        <div class="form-group">
                            <label for="nombre">Nombre completo</label>
                            <input type="name" class="form-control" name="nombre" placeholder="Tu nombre" required value={{ form.nombre.value|default_if_none:"" }}>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Fecha de nacimiento</label>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <select class="form-control selectpicker fecha mesano" id="year" >
                                            <option selected>Año</option>
                                            {% for year in years %}
                                            <option value="{{ year }}">{{ year }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-5">
                                        <select class="form-control selectpicker fecha mesano" id="mes" >
                                            <option selected>Mes</option>
                                            <option value="01">Enero</option>
                                            <option value="02">Febrero</option>
                                            <option value="03">Marzo</option>
                                            <option value="04">Abril</option>
                                            <option value="05">Mayo</option>
                                            <option value="06">Junio</option>
                                            <option value="07">Julio</option>
                                            <option value="08">Agosto</option>
                                            <option value="09">Septiembre</option>
                                            <option value="10">Octubre</option>
                                            <option value="11">Noviembre</option>
                                            <option value="12">Diciembre</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control selectpicker fecha" id="dia" >
                                            <option selected>Día</option>
                                        </select>
                                    </div>
                                    <input name="fecha_nacimiento"  id="fecha_nacimiento" type="text" hidden value={{ form.fecha_nacimiento.value|default_if_none:"" }}>
                                    <script type="text/javascript">

                                        $("#dia").change(function(){

                                            var ano = $('#year').val();
                                            var mes = $('#mes').val();
                                            var dia = $('#dia').val();

                                            $('#fecha_nacimiento').val(ano + "-" + mes + "-" + dia)
                                        })
                                        $(".mesano").change(function(){
                                            var ano = $('#year').val();
                                            var mes = $('#mes').val();
                                            $('#dia').empty();
                                            var opt = document.createElement('option');
                                            opt.text = "Día";
                                            opt.value = "Día";
                                            $('#dia').append(opt);
                                            var daysInMonth = new Date(ano, mes, 0).getDate();

                                            for(var i = 1; i <= daysInMonth; i++){
                                                var opt = document.createElement('option');
                                                opt.text = i;
                                                opt.value = i;
                                                $('#dia').append(opt);
                                            }
                                        })

                                        const myArr = $('#fecha_nacimiento').val().split("-");

                                        $("#year").val(myArr[0]);
                                        $("#mes").val(myArr[1]);
                                        $('#dia').empty();

                                        var opt = document.createElement('option');
                                        opt.text = "Día";
                                        opt.value = "Día";
                                        $('#dia').append(opt);
                                        var daysInMonth = new Date(myArr[0], myArr[1], 0).getDate();

                                        for(var i = 1; i <= daysInMonth; i++){
                                            var opt = document.createElement('option');
                                            opt.text = i;
                                            opt.value = i;
                                            $('#dia').append(opt);
                                        }

                                        $("#dia").val(myArr[2]);
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Correo electronico</label>
                                <input type="email" class="form-control" name="correo" aria-describedby="emailHelp" placeholder="alejandro@dominio.com" value={{ form.correo.value|default_if_none:"" }}>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Ahora, un poco de información acerca de su inversión:</p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Objetivo</label>
                                <select class="form-control selectpicker" name="objetivo" id="selectpicker" value={{ form.objetivo.value|default_if_none:"" }}>
                                    <option selected>Seleccionar...</option>
                                    <option>Fondo de retiro</option>
                                    <option>Generar una renta</option>
                                    <option>Acumular riqueza</option>
                                    <option>Ahorro para mis hijos</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <label for="exampleFormControlSelect1">Cantidad de dinero</label>
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" name="dinero"  placeholder="Dinero en pesos" required value={{ form.dinero.value|default_if_none:"" }}>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <label for="exampleFormControlSelect1">Horizonte de tiempo</label>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="tiempo" id="inlineRadio1" value="2y" required >
                                    <label class="form-check-label" for="inlineRadio1">1-2 años</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="tiempo" id="inlineRadio2" value="3y" required >
                                    <label class="form-check-label" for="inlineRadio2">3-5 años</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="tiempo" id="inlineRadio3" value="5y" required >
                                    <label class="form-check-label" for="inlineRadio3">5+ años</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <label for="exampleFormControlSelect1">Riesgo</label>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="riesgo" id="inlineRadio1" value="1" required>
                                    <label class="form-check-label" for="inlineRadio1">Bajo</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="riesgo" id="inlineRadio2" value="2" required>
                                    <label class="form-check-label" for="inlineRadio2">Medio</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="riesgo" id="inlineRadio3" value="3" required>
                                    <label class="form-check-label" for="inlineRadio3">Alto</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <label for="exampleFormControlSelect1">Criterio de búsqueda</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="metrica" id="exampleRadios1" value="calculate_std" required>
                                <label class="form-check-label" for="exampleRadios1">
                                    Orientada a la diversificación
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="metrica" id="exampleRadios2" value="beta_std_dev" required>
                                <label class="form-check-label" for="exampleRadios2">
                                    Orientada al retorno de inversión
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p>Al llenar este formulario, el algoritmo va a buscar un portafolio de acuerdo a tus necesidades.</p>
                    <p>
                    Cada portafolio contiene acciones de empresas listadas en la Bolsa Mexicana de Valores.
                    Cada acción tiene un porcentaje que representa su proporción dentro del portafolio.
                    Estas acciones pueden ser compradas con cualquier intermediario (Casa de bolsa).
                    </p>
                    <p>
                    Los portafolios sugeridos por ALTEC.dev estan pensados como una base para empezar a invertir en la bolsa.
                    Estan diseñados para generar rendimientos a mediano plazo (entre 1 y 5 años).
                    </p>
                    <p>
                    ALTEC.dev no compartira tus datos con ningún banco ni con ninguna otra empresa.
                    </p>
                    <br>
                    <div class="form-check">
                      <input class="form-check-input" name="tyc" type="checkbox" value="1" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Acepto los términos y condiciones
                      </label>
                    </div>
                    <br>
                    <button class="btn-lg btn-primary">Buscar</button>
                </div>
            </div>


        </form>
    </div>
    <br>
    <br>
    <br>

    <!-- End Content -->

{% endblock %}
