{% extends "header.html" %}
{% load static %}
{% block page_content %}
      <!-- Start Content -->

      <div class="container-fluid top">
          {% if success %}
          <div class="alert alert-success">
              {{ success }}
          </div>
          {% endif %}
          {% if error %}
          <div class="alert alert-danger">
              {{ error }}
          </div>
          {% endif %}
          <div class="row">
              <div class="col-1">
              </div>
              <div class="col-lg-10">
                  <h1 class="display-4">Contáctanos</h1>
                  Por favor déjanos un mensaje y nosotros nos ponemos en contacto contigo.
              </div>
          </div>
      </div>
      <div class="container-fluid" style="min-height: 63vh;">
          <form action="/contacto" method="post">
              {% csrf_token %}
              <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-6">
                      <div class="form-group">
                          <label for="nombre">Nombre</label>
                          <input type="nombre" class="form-control" name="nombre" placeholder="tu nombre completo" required>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="form-group">
                          <label for="email">Correo electronico</label>
                          <input type="email" class="form-control" name="correo" placeholder="ejemplo@mail.com" required>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-6">
                      <div class="form-group">
                          <label for="exampleFormControlSelect1">Tema</label>
                          <select class="form-control" name="asunto">
                              <option>Quejas y sugerencias</option>
                              <option>Otras</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-10">
                      <div class="form-group">
                          <label for="exampleFormControlTextarea1">Escriba su mensaje:</label>
                          <textarea class="form-control" name="mensaje" rows="4" required></textarea>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-10">
                  </div>
                  <div class="col-2">
                      <button type="submit" class="btn btn-primary">Enviar</button>
                  </div>
              </div>
          </form>
      </div>
      <br>
      <br>
      <br>
      <!-- End Content -->
{% endblock %}
