{% extends "header_email.html" %}
{% load static %}
{% load humanize %}
{% block page_content %}
<div class="container-fluid top" style="min-height: 84.5vh;">
<div class="row">
<div class="col-lg-7">
<br>
<div class="row">
<div class="col-1">
</div>
<div class="col-lg-11">
<div class="row">
<div class="col-lg-12">
<p>
Gracias por usar de nuestra herramienta.
</p>
<p>
Este portafolio de inversión fue generado en su totalidad con inteligencia artificial.
Antes de invertir en estas empresas te recomendamos investigar cada una de ellas para que puedas decidir.
</p>
<p>
Cualquier duda revisa nuestra <a href="altec.dev/ayuda">sección de ayuda</a> o contáctanos por medio de <a href="altec.dev/contacto">esta forma</a>.
</p>
</div>
</div>
<div class="row">

<div class="col-4">
Ganancia anual historica
<h2>{{ metricas.return|floatformat:2 }}%</h2>
</div>
<div class="col-4">
Desviación estándar
<h2>{{ metricas.std|floatformat:2 }}%</h2>
</div>
<div class="col-4">
Dinero a invertir
<h2>$ {{ dinero|intcomma }}</h2>
</div>
</div>
<br>
<div class="row">
<div class="col-4">
Duración de la inversión
<h2>{{ tiempo }} años</h2>
</div>
<div class="col-4">
Riesgo relativo
<h2>{{ riesgo }}</h2>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<br>
<h3>Componentes del portafolio</h3>
{% for simbolo in simbolos %}
Nombre: {{ simbolo.name }} &emsp; Símbolo: {{ simbolo.symbol }}
<br>
<a href="https://g.co/finance/{{ simbolo.symbol }}:BMV" target="_blank">Ver en Google Finance</a>
<div class="progress">
<div class="progress-bar" role="progressbar"
style="width: {{ simbolo.percentage }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ simbolo.percentage|floatformat:2 }}%</div>
</div>
<br>
{% endfor %}
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
