{% extends "header.html" %}
{% load static %}
{% block page_content %}
<!-- Start Content -->
{% if success %}
<div class="alert alert-success">
    {{ success }}
</div>
{% endif %}
<div class="jumbotron-fluid title">

  <div class="row">
      <div class="col-1">

      </div>
      <div class="col-10">
          <h1 class="display-4">Portafolios de inversión</h1>
          <p class="home">Usa inteligencia artificial para obtener el mejor rendimiento de tus inversiones en la bolsa de valores.</p>
      </div>
  </div>
  <div class="row text-center">
      <div class="col-12 flecha">

          <a href="#"><img src="{% static 'flecha.png' %}"></a>
      </div>
  </div>
</div>
<div class="jumbotron-fluid light">
  <div class="row">
      <div class="col-1">

      </div>
      <div class="col-10">
          <h1 class="display-5">Invierta en la Bolsa Mexicana de Valores con un portafolio personalizado.</h1>

      </div>
  </div>
   <div class="row">
       <div class="col-1">

       </div>
       <div class="col-10">
           <p class="home pasos">Usa de nuestra herramienta de inteligencia artificial para encontrar la diversificacion óptima de activos.</p>
       </div>
   </div>
   <div class="row pasos">
       <div class="col-4">
       </div>
       <div class="col-4">
           <a class="btn btn-primary btn-xl btn-block" href="/buscar" role="button">Empezar ahora</a>
       </div>
   </div>
</div>

<div class="jumbotron-fluid ">
  <div class="row text-center">
      <div class="col-12">
          <h1 class="display-5">Invierta en 4 pasos</h1>

      </div>
  </div>
  <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10">
          <h1 class="display-6 pasos"><img src="/static/1.png"> Define tus objetivos.</h1>
      </div>
  </div>
  <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10">
          <h1 class="display-6 pasos"><img src="/static/2.png"> Altec encontrará en segundos un conjunto de portafolios óptimos.</h1>
      </div>
  </div>
  <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10">
          <h1 class="display-6 pasos"><img src="/static/3.png"> Selecciona el portafolio más atractivo.</h1>
      </div>
  </div>
  <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10">
          <h1 class="display-6 pasos"><img src="/static/4.png"> Compra acciones en tu casa de bolsa de confianza.</h1>
      </div>
  </div>

</div>
<div class="container-fluid light" style="padding-top: 4rem;">
  <div class="row text-center">
      <div class="col-lg-4">
          <img src="/static/portafolio.png">
          <br>
          <p class="home">Portafolios hechos a la medida.</p>
      </div>
      <div class="col-lg-4">
          <img src="/static/gratis.png">
          <br>
          <p class="home">Servicio totalmente gratuito.</p>
      </div>
      <div class="col-lg-4">
          <img src="/static/banco.png">
          <br>
          <p class="home">Invierte con la entidad financiera que prefieras.</p>
      </div>
  </div>

  <div class="row text-center">
      <div class="col-lg-4">
          <img src="/static/engrane.png">
          <br>
          <p class="home">Metodologia probada científicamente.</p>
      </div>
      <div class="col-lg-4">
          <img src="/static/servidor.png">
          <br>
          <p class="home">100% digital.</p>
      </div>
  </div>

</div>
<div class="jumbotron-fluid">

  <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
          <a class="btn btn-primary btn-xl btn-block" href="/buscar" role="button">Encontrar un portafolio</a>
      </div>
  </div>

</div>
<!-- End Content -->
{% endblock %}
